[Unit]
Description=Run Cla-Assistant

[Service]
EnvironmentFile=/home/vagrant/cla-assistant/.env
WorkingDirectory=/home/vagrant/cla-assistant
ExecStart=/usr/local/vin/node app.js
Restart=always

[Install]
WantedBy=multi-user.target
